# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.dylib
*.dll
*.bak
~$*

# C object files
*.o
*.obj
*.exe

# Keys & Sensitive Creds
my_keys/
*.pem
*.key
*.priv
.env
.env.*

# Python Cache & Virtualenv
.pytest_cache/
.coverage
htmlcov/
venv/
.venv/
env/

# Temporary exchange artifacts
*.enc
*.dec
*.in
*.tmp
*.tmp.*
secret.txt
downloaded_secret.txt
dec_*.enc
dec_*.dec
snd_*.in
snd_*.enc

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
